# Magister en Ciencia de Datos - UDD
## DBAnalytics (Ciencia de Datos aplicada)
Sprint 1: Datos transformados I
- Crear funciones que permitan construir los siguientes features para cada msno:
    - Recencia: cantidad de días desde el último evento de la tabla user_logs.csv
    - Frecuencia: cantidad de eventos entre los últimos N y N+M días de la tabla user_logs.csv
    - Money: cantidad de dinero pagado entre los últimos N y N+M días de la tabla transactions.csv
- Utilizar valores de N y M que capturen comportamiento en última semana, últimas 2 semanas, último mes y últimos 2 meses (queda abierto si se quiere utilizar más valores).

* Cargamos archivos

In [1]:
!bq ls DATASET

         tableId           Type    Labels   Time Partitioning   Clustered Fields
 ------------------------ ------- -------- ------------------- ------------------
  members_v3               TABLE
  rfm_07                   TABLE
  rfm_14                   TABLE
  rfm_30                   TABLE
  rfm_60                   TABLE
  sample_submission_v2     TABLE
  sample_submission_zero   TABLE
  train_v2                 TABLE
  transactions             TABLE
  user_label_201702        TABLE
  user_label_201703        TABLE
  user_log_features        TABLE
  user_logs                TABLE
  user_logs_final          TABLE
  user_logs_final2         TABLE

* Obtenemos la fecha minima y maxima del dataset

In [2]:
%%bigquery
select min(date) as min from DATASET.user_logs

        min
0  20150101

In [3]:
%%bigquery
select max(date) as max from DATASET.user_logs

        max
0  20170331

* Periodo: Ultima semana (7 dias)

In [5]:
%%bigquery
with table_date as (SELECT DATE_SUB(DATE "2017-03-31", INTERVAL 7 DAY) as days_ago)
SELECT 
tb_log.msno, 
count(tb_log.msno) as frequency, 
date_diff(PARSE_DATE('%Y%m%d', CAST(max(tb_log.date) AS STRING)), PARSE_DATE('%Y%m%d', CAST(min(tb_log.date) AS STRING)), DAY) as recency, 
sum(tb_trx.actual_amount_paid) as monetary 
FROM DATASET.user_logs as tb_log, table_date as tb_date 
INNER JOIN DATASET.transactions as tb_trx
ON tb_log.msno = tb_trx.msno 
where PARSE_DATE('%Y%m%d', CAST(tb_log.date AS STRING)) > tb_date.days_ago
group by tb_log.msno
limit 10

                                           msno  frequency  recency  monetary
0  KakuBkxzyceB0XjRytdq7ESWkgb8HcMq7OSL50658Es=         60        6      5940
1  Cf5af3IdVLbd9B1hDOShdJiAgCbnhRi7s5AcryUdeTM=        147        6     21903
2  NMg++xVyLL63kg43qA0froU3HbWojZWImtZI3/hruOo=         98        6      9702
3  imHIVHfKWJYZhiQET9E8X/ua7yZfCZnSJ6PiQyT0BlM=        240        5     33060
4  +BlrA8VC0GNzwm5eCZCBdr4FcgJmE6sp5Falzq8nl6M=        120        5     17880
5  WTl8on5kiU1iMo6470QUTr0LieEKSC04za5ftoUKHnY=         54        1      8046
6  xJpTQRBsnlQhtApj+9yvZQ5Jfd0KQzKTFoBLagH28lU=        161        6     23989
7  7Hrwd3ehrMexcTMKPwGtvF4rkbct85jS2Mty+7x120I=        203        6     30247
8  uNZLvt/aQ7Z7LUa2QU9+RjplL2xQnLIqFT1q+laH/yc=         55        5      5445
9  xZw98iaPMseK3+g0AasOmWWBGRngq2txA3A1MXgq0cU=        147        6     14567

In [6]:
!bq rm -f 'kk-churn:DATASET.rfm_07'

In [7]:
%%bigquery
create table `kk-churn.DATASET.rfm_07` as
with table_date as (SELECT DATE_SUB(DATE "2017-03-31", INTERVAL 7 DAY) as days_ago)
SELECT 
tb_log.msno, 
count(tb_log.msno) as frequency, 
date_diff(PARSE_DATE('%Y%m%d', CAST(max(tb_log.date) AS STRING)), PARSE_DATE('%Y%m%d', CAST(min(tb_log.date) AS STRING)), DAY) as recency, 
sum(tb_trx.actual_amount_paid) as monetary 
FROM DATASET.user_logs as tb_log, table_date as tb_date 
INNER JOIN DATASET.transactions as tb_trx
ON tb_log.msno = tb_trx.msno 
where PARSE_DATE('%Y%m%d', CAST(tb_log.date AS STRING)) > tb_date.days_ago
group by tb_log.msno

Empty DataFrame
Columns: []
Index: []

In [8]:
%%bigquery
select * from DATASET.rfm_07 limit 5

                                           msno  frequency  recency  monetary
0  o+afEaOHakGCpKwyZgPdQ+w4a1kahZvQlmqCgpITRB0=          1        0         0
1  oyL1Yv3oa+GljYSpIVN1SqSY5xUmFxvyG2FutjyDQWw=         91        0         0
2  hFwwv+eBY22hTUYU8NcxbCzLcbqmBV+fQYydesTspyc=          1        0         0
3  pJhAcaoQFn30oM2A0eQ/2qxDN/Uavo5sK8+5/SKVwvU=          5        0         0
4  GwnoPP/YzUGqivejdL0taNYNjCNWa8Va4pr/NjyJLN0=          1        0         0

* Periodo: Ultima 2 semanas (14 dias)

In [9]:
!bq rm -f 'kk-churn:DATASET.rfm_14'

In [10]:
%%bigquery
create table `kk-churn.DATASET.rfm_14` as
with table_date as (SELECT DATE_SUB(DATE "2017-03-31", INTERVAL 14 DAY) as days_ago)
SELECT 
tb_log.msno, 
count(tb_log.msno) as frequency, 
date_diff(PARSE_DATE('%Y%m%d', CAST(max(tb_log.date) AS STRING)), PARSE_DATE('%Y%m%d', CAST(min(tb_log.date) AS STRING)), DAY) as recency, 
sum(tb_trx.actual_amount_paid) as monetary 
FROM DATASET.user_logs as tb_log, table_date as tb_date 
INNER JOIN DATASET.transactions as tb_trx
ON tb_log.msno = tb_trx.msno 
where PARSE_DATE('%Y%m%d', CAST(tb_log.date AS STRING)) > tb_date.days_ago
group by tb_log.msno

Empty DataFrame
Columns: []
Index: []

In [11]:
%%bigquery
select * from DATASET.rfm_14 limit 5

                                           msno  frequency  recency  monetary
0  5Vaw6CSLzlDHTn2iM2GyYY4sWRVZMJs74gaaCSAn+GQ=          1        0         0
1  Qc4NB1rmxo6knzlKR2pn52G5MwmOQkEDyeYRmbNE3oc=          3        0         0
2  saCd8bzO0dZdDwZkxCEbbNqqfKl6m+hC0qcpkkJ31/c=          1        0         0
3  FngneXATnByMuX4nlgPrgvQ1AsdBp2bb4ZQ3FapzqXw=          1        0         0
4  NcaWaVULMQDiyNmRKESxYrsglXppv/38EhBll+7CgDg=          1        0         0

* Periodo: Ultimo Mes (30 dias)

In [12]:
!bq rm -f 'kk-churn:DATASET.rfm_30'

In [13]:
%%bigquery
create table `kk-churn.DATASET.rfm_30` as
with table_date as (SELECT DATE_SUB(DATE "2017-03-31", INTERVAL 30 DAY) as days_ago)
SELECT 
tb_log.msno, 
count(tb_log.msno) as frequency, 
date_diff(PARSE_DATE('%Y%m%d', CAST(max(tb_log.date) AS STRING)), PARSE_DATE('%Y%m%d', CAST(min(tb_log.date) AS STRING)), DAY) as recency, 
sum(tb_trx.actual_amount_paid) as monetary 
FROM DATASET.user_logs as tb_log, table_date as tb_date 
INNER JOIN DATASET.transactions as tb_trx
ON tb_log.msno = tb_trx.msno 
where PARSE_DATE('%Y%m%d', CAST(tb_log.date AS STRING)) > tb_date.days_ago
group by tb_log.msno

Empty DataFrame
Columns: []
Index: []

In [14]:
%%bigquery
select * from DATASET.rfm_30 limit 5

                                           msno  frequency  recency  monetary
0  QOQGpkdrvoiGaIc2TJ2hnMVyAAz51zMu/xy8PAFEzh4=          1        0         0
1  oKqAmyYARAOh3VuD4tjW4Oq5OvhgT+dHEN5C5wHyZA8=         17        0      2235
2  9HacyTUf6hQZ2kEzU4Zm89+YPweIfw+GdU5FkslfnMg=          1        0       180
3  Sc9uns1WPwa1VuEeCRMAGYyA2QDp8RPYQCvrc7OqdG4=          9        0       891
4  0qauGIU+xpvIvEzt2h2vdZxVqbIVq1Tap3/5IKxOSIs=         22        0      3038

* Periodo: Ultimo 2 Mes (60 dias)

In [15]:
!bq rm -f 'kk-churn:DATASET.rfm_60'

In [16]:
%%bigquery
create table `kk-churn.DATASET.rfm_60` as
with table_date as (SELECT DATE_SUB(DATE "2017-03-31", INTERVAL 60 DAY) as days_ago)
SELECT 
tb_log.msno, 
count(tb_log.msno) as frequency, 
date_diff(PARSE_DATE('%Y%m%d', CAST(max(tb_log.date) AS STRING)), PARSE_DATE('%Y%m%d', CAST(min(tb_log.date) AS STRING)), DAY) as recency, 
sum(tb_trx.actual_amount_paid) as monetary 
FROM DATASET.user_logs as tb_log, table_date as tb_date 
INNER JOIN DATASET.transactions as tb_trx
ON tb_log.msno = tb_trx.msno 
where PARSE_DATE('%Y%m%d', CAST(tb_log.date AS STRING)) > tb_date.days_ago
group by tb_log.msno

Empty DataFrame
Columns: []
Index: []

In [17]:
%%bigquery
select * from DATASET.rfm_60 limit 5

                                           msno  frequency  recency  monetary
0  Mr0LovH2wvBvP1B/OENvz3PSmafI2KU7vdzgeWEuqEk=         14       24      1806
1  ixT0UBE3SHEtsxn5PiB0JZaAyMA45sU52ddsxKIWMfM=         10       15      1490
2  enkDOLaPD1y6m7ZwYSksumoXDEqZ+5TSWCao8OLTuhE=         36        4      4884
3  5W5mKXaZu6hQ8arknwKnF5OZRI7WxgkVeoJi3t2GBbk=         36       11     11484
4  sa59zckBLKHy6KWUAAGkSMBp01dXtvTHOBrjTGQZxJg=          2        2       200

* Periodo de 3 meses (90 dias)

In [19]:
!bq rm -f 'kk-churn:DATASET.rfm_90'

In [20]:
%%bigquery
create table `kk-churn.DATASET.rfm_90` as
with table_date as (SELECT DATE_SUB(DATE "2017-03-31", INTERVAL 90 DAY) as days_ago)
SELECT 
tb_log.msno, 
count(tb_log.msno) as frequency, 
date_diff(PARSE_DATE('%Y%m%d', CAST(max(tb_log.date) AS STRING)), PARSE_DATE('%Y%m%d', CAST(min(tb_log.date) AS STRING)), DAY) as recency, 
sum(tb_trx.actual_amount_paid) as monetary 
FROM DATASET.user_logs as tb_log, table_date as tb_date 
INNER JOIN DATASET.transactions as tb_trx
ON tb_log.msno = tb_trx.msno 
where PARSE_DATE('%Y%m%d', CAST(tb_log.date AS STRING)) > tb_date.days_ago
group by tb_log.msno

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery
select * from DATASET.rfm_90 limit 5

                                           msno  frequency  recency  monetary
0  zzjLV7W+Yjo8sMtfqXgCYQiWMN5K3puQJgZHyWsF92E=         96       57      9504
1  LR4YCT91abGPJQpqGE0mJMw8wuBNmJBMExgkKRAUTU8=         72       41      7128
2  HGbUZw24EWhcKCWTyygb1WPOWgH75DwDp9Bletpik1s=         12       11      1788
3  ZbdK86SBYIXccIlHu4K23sKi3qXPGc1BKUcg7dg18jU=         26       48      2574
4  F/3BKckBhfmMmnM2fSJbZJqOBPev8C8WS1o55r74Li8=        150       58     19370

In [22]:
!bq ls DATASET

         tableId           Type    Labels   Time Partitioning   Clustered Fields
 ------------------------ ------- -------- ------------------- ------------------
  members_v3               TABLE
  rfm_07                   TABLE
  rfm_14                   TABLE
  rfm_30                   TABLE
  rfm_60                   TABLE
  rfm_90                   TABLE
  sample_submission_v2     TABLE
  sample_submission_zero   TABLE
  train_v2                 TABLE
  transactions             TABLE
  user_label_201702        TABLE
  user_label_201703        TABLE
  user_log_features        TABLE
  user_logs                TABLE
  user_logs_final          TABLE
  user_logs_final2         TABLE